<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
  <add name="BCMSDBString"
   connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Alex\Documents\GitHub\DotNetAssign2\BCMS\BCMS\App_Data\aspnet-BCMS-20140515020123.mdf"
    providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>