@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "Your Awaiting Reports";
}

<h2>Your Awaiting Reports</h2>

<table class="table">
    <tr>
        <th>
            Report Name
        </th>
        <th>
            Department
        </th>
        <th>
            Supervisor Approval Status
        </th>
        <th>
            Staff Approval Status
        </th>
    </tr>
    @* iterates through the model items   *@
@foreach (var item in Model) {
    <tr>
        <td>
           @Html.ActionLink(item.ReportName, "DetailsOnly", new { ReportID = item.ReportPK })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffApproval)
        </td>
    </tr>
}

</table>
