@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "Your APproved Reports";
}

<h2>Your Approved Reports</h2>

<table class="table">
    <tr>
        <th>
            Report Name
        </th>
        <th>
            Department
        </th>
        <th>
            Date of Approval
        </th>
    </tr>
    @* just iterates through all the items *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "DetailsOnly", new { ReportID = item.ReportPK })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfApproval)
        </td>
    </tr>
}

</table>
