@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "Your Submitted Reports";
}

<h2>Your Submitted Reports</h2>

<table class="table">
    <tr>
        <th>
            Report Name
        </th>
        <th>
           Department
        </th>
        <th>
            Supervisor Approval Status
        </th>
        <th>
            Staff Approval Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "Details", new { id = item.ReportPK })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupervisorApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffApproval)
        </td>
    </tr>
}

</table>
