@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "In Progress Reports";
}

<h2>In Progress Reports</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Report Name
        </th>
        <th>
            Department Type
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "Details", new { id=item.ReportPK })
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        
    </tr>
}

</table>
