@model List<BCMS.Models.Supervisor>
@{
    ViewBag.Title = "StaffBudget";
}

<h2>StaffReports</h2>
<p>
    Total spent budget =$AUD @ViewBag.SpentCompanyBudget
</p>
<p>
    Total budget remaining =$AUD @ViewBag.RemainingCompanyBudget
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Amount in $AUD
        </th>
        <th></th>
    </tr>

    @foreach (BCMS.Models.Supervisor item in Model)
    {
        <tr>
            <td>
                @item.ReturnName()
            </td>
            <td>
                @item.ReturnAmount()
            </td>
        </tr>
    }
</table>
