@model string

@{
    ViewBag.Title = "Your Current Department Budget";
}
@* the supervisors department budget  *@

<h2>Your Current Department Budget</h2>

<p>The total expenses for your department is: $AUD @ViewBag.TotalExpenses</p>
<p>The remaining budget for your department is: $AUD @ViewBag.RemainingBudget</p>
