@model IEnumerable<BlueConsultingManagementSystem.Models.Report>

@{
    ViewBag.Title = "Your Department Reports";
}

<h2>Your Department Reports</h2>


<table class="table">
    <tr>
        <th>
            Report Name
        </th>
        <th>
            Consultant Name
        </th>
        <th></th>
    </tr>
    @* just for displaying  *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ReportName, "Details", new { id = item.ReportPK })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsultantName)
        </td>
    </tr>
}

</table>
