@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="CreateNewReport">
    <div>
 Please add a new report, or select one below.
    </div>
@foreach (var report in )

<div>
    <a href="~/Consultant/AddReportView.cshtml"> Create new report</a>
</div>


</form>

